{% extends 'main.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Password reset sent </h3>
            <p>
                we've emailed you instructionss for setting your password ,
                if an account exists with the email you entered.You should receive them short
            </p>
            <br>
            <p>
                If you don't receive an email, Please make sure you've entered the address yor 
                check your spam folder 
            </p>


        </div>

    </div>
</main>

{% endblock %}